<div id="main-slider">
    <div class="inner">
        <div class="owl-carousel owl-theme" id="owl-main-slider">
            <% pageData.bannerImages.forEach(function(image){ %>
                <div class="item">
                    <div class="slider-item">
                        <div class="slider-img">
                            <a class="icbua" href="products/button-wallet-ngang">
                            </a>
                            <img alt="" src="<%= image %>" >
                            </img>
                        </div>
                        <div class="slider-content">
                            <div class="wrapper">
                                <div class="inner">
                                    <div class="slider-title wow fadeInDown" data-wow-delay="0.4s"
                                        data-wow-duration="0.75s">
                                        <h2>
                                        </h2>
                                    </div>
                                    <div class="slider-desc wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="0.75s">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
           
           
        </div>
    </div>
</div>

<div id="PageContainer">
    <main class="main-content" role="main">
        <section class="ttline" id="home-featured-product">
            <div class="wrapper">
                <div class="inner">
                    <div class="home-section-body">
                        <% data.collections.forEach(function(item){ %>
                            <div class="tab clearfix text-center">
                            </div>
                            <div class="home-section-head">
                                <a href="collections/<%= item._id %>">
                                    <h2 class="section-title">
                                        <span>
                                            <%= item.collectionName %>
                                        </span>
                                    </h2>
                                </a>
                            </div>
                            <div id="collection1">
                                
                                    <div class="grid-uniform md-mg-left-15">
                                        <% item.products.forEach(function(product){ %>
                                            <%- include("../component/collection", {item: product}); %>
                                        <% }); %>
                                    </div>
                                    
                                    <div class="view-collection-btn1">
                                        <span>
                                            Xem tất cả
                                        </span>
                                        <a class="btnViewMore" href="collections/<%= item._id %>">
                                            <%= item.collectionName %>
                                            <i class="fas fa-angle-double-right">
                                            </i>
                                        </a>
                                    </div>
                               
                               
                            </div>
                        <% }); %>
                       
                        
                    </div>
                </div>
            </div>
        </section>
      <div class="wrapper new-smatopn">
        <div class="inner">
          <div class="home-section-head">
            <h2 class="section-title">
              Instagram
            </h2>
          </div>
          <div id="instafeed">
            <% data.indexData.insImages.forEach(function(i){ %>
                <a href="" target="_blank">
                    <img src="<%= i %>" />
                  </a>
            <% }); %>
          </div>
        </div>
      </div>

    </main>
  </div>


